In [33]:
do_request() {
  #Expects ${1} to be the complete SOLR query string. Note that for BASH, it
  # is necessary to escape double quotes. e.g. for a query:
  #   name:"some text"
  # it is necessary to escape like:
  #   name:\"some text\"
  # The string sent by curl would then be in the proper form
  #
  #Wrap the query string in quotes for curl, https://linux.die.net/man/1/curl
  local Q="\"${query}\""
  echo "QUERY for curl = ${Q}"
  echo "======"
  curl -F "q=${Q}" \
       -F fl=id,title,formatType  \
       -F indent=2 \
       -F rows=3 \
       -X POST https://dev.nceas.ucsb.edu/knb/d1/mn/v2/query/solr/
}

In [34]:
query='*:*'
do_request ${query}

  Query string = '*:*'
QUERY for curl = "*:*"
======
<?xml version="1.0" encoding="UTF-8"?>
<response>

<lst name="responseHeader">
  <int name="status">0</int>
  <int name="QTime">16</int>
  <lst name="params">
    <str name="fq">(readPermission:"public")OR(isPublic:true)</str>
    <str name="q">*:*</str>
    <str name="indent">2</str>
    <str name="fl">id,title,formatType</str>
    <str name="rows">3</str>
  </lst>
</lst>
<result name="response" numFound="124594" start="0">
  <doc>
    <str name="id">urn:uuid:6dad3b4d-4e5b-41ad-ad0b-7cc2930dccf2</str>
    <str name="formatType">DATA</str>
    <str name="title">Lauren's test project - updated</str>
  </doc>
  <doc>
    <str name="id">urn:uuid:270def97-b51c-4c9c-be15-dd5f4baad5ca</str>
    <str name="formatType">DATA</str>
    <str name="title">Lauren's test project - updated</str>
  </doc>
  <doc>
    <str name="id">urn:uuid:0bff182e-558d-4c70-a7c6-5e3b8da88963</str>
    <str name="formatType">DATA</str>
    <str name="title">Lauren's test project</str>
  </doc>
</result>
</response>

In [35]:
query='(formatType:METADATA)'
do_request $query

  Query string = '(formatType:METADATA)'
QUERY for curl = "(formatType:METADATA)"
======
<?xml version="1.0" encoding="UTF-8"?>
<response>

<lst name="responseHeader">
  <int name="status">0</int>
  <int name="QTime">15</int>
  <lst name="params">
    <str name="fq">(readPermission:"public")OR(isPublic:true)</str>
    <str name="q">(formatType:METADATA)</str>
    <str name="indent">2</str>
    <str name="fl">id,title,formatType</str>
    <str name="rows">3</str>
  </lst>
</lst>
<result name="response" numFound="16687" start="0">
  <doc>
    <str name="id">urn:uuid:68152f98-d76d-4dde-bb65-b26c8c794f4b</str>
    <str name="formatType">METADATA</str>
    <str name="title">Physical and Chemical Properties from Selected Expeditions in the Arctic Ocean</str>
  </doc>
  <doc>
    <str name="id">urn:uuid:800ec528-9adc-4ecf-baa9-626fe170bf6d</str>
    <str name="formatType">METADATA</str>
    <str name="title">SCICEX Hydrographic Data, 1993</str>
  </doc>
  <doc>
    <str name="id">urn:uuid:a00de14f-898e-44b3-ba29-5357b4e57c56</str>
    <str name="formatType">METADATA</str>
    <str name="title">Svalbard Site Species Data [Robinson, Wookey]</str>
  </doc>
</result>
</response>

In [36]:
query='"-obsoletedBy:* AND (id:(\"urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf\" OR \"urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2\") OR seriesId:(\"urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf\" OR \"urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2\")) AND (formatType:METADATA OR formatType:DATA)"'
do_request $query

  Query string = '-obsoletedBy:*'
QUERY for curl = "-obsoletedBy:* AND (id:(\"urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf\" OR \"urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2\") OR seriesId:(\"urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf\" OR \"urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2\")) AND (formatType:METADATA OR formatType:DATA)"
======
<?xml version="1.0" encoding="UTF-8"?>
<response>

<lst name="responseHeader">
  <int name="status">0</int>
  <int name="QTime">28</int>
  <lst name="params">
    <str name="fq">(readPermission:"public")OR(isPublic:true)</str>
    <str name="q">-obsoletedBy:* AND (id:("urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf" OR "urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2") OR seriesId:("urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf" OR "urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2")) AND (formatType:METADATA OR formatType:DATA)</str>
    <str name="indent">2</str>
    <str name="fl">id,title,formatType</str>
    <str name="rows">3</str>
  </lst>
</lst>
<result name="response" numFound="2" start="0">
  <doc>
    <str name="id">urn:uuid:0163b16e-4718-4e6c-89b4-42f6eb30c6cf</str>
    <str name="formatType">METADATA</str>
    <str name="title">Summary data of subsistence salmon catch from in-season fish camp surveys, Lower Kuskokwim River, Alaska, 2009-2016</str>
  </doc>
  <doc>
    <str name="id">urn:uuid:056be5dc-cbde-4a4d-9540-92e495b755d2</str>
    <str name="formatType">METADATA</str>
    <str name="title">Slope per SASAP region and Hydrolic Unit (HUC8) boundary for Alaskan watersheds</str>
  </doc>
</result>
</response>